<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Book Detail</h1>

<p th:text="${message}"></p>
<form th:action="@{/book/borrow}" th:object="${book}" method="post">

    <input type="hidden" th:field="*{id}">
    <table border="1">
        <tr>
            <td>Name</td>
            <td th:text="${book.name}"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td th:text="${book.description}"></td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td th:text="${book.quantity}"></td>
        </tr>
        <tr>
            <td>Author</td>
            <td th:text="${book.author}"></td>
        </tr>
    </table>
<button>Borrow Book</button>
</form>
<a href="/book/list">Back to Book List</a>

</body>
</html>