<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Form</title>
</head>
<body>
<h1>Show Form</h1>
<form th:object="${userDto}" th:action="@{/create}" method="post">
    <table>
        <tr>
            <td>First Name</td>
            <td><input type="text" th:field="*{firstname}"></td>
        </tr>
        <tr>
            <td th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" th:field="*{lastname}"></td>
        </tr>
        <tr>
            <td th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td><input type="number" th:field="*{phoneNumber}"></td>
        </tr>
        <tr>
            <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="number" th:field="*{age}"></td>
        </tr>
        <tr>
            <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" th:field="*{email}"></td>
        </tr>
        <tr>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
        </tr>
    </table>
    <button>Submit</button>
</form>
</body>
</html>