<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Blog</title>
</head>
<body>
<h1>Edit Blog</h1>
<form th:action="@{/category/edit}" th:object="${blogType}" method="post">
    <input th:field="*{id}" hidden="hidden">
    <table>
        <tr>
            <td>Name</td>
            <td><input th:field="*{name}"></td>
        </tr>
    </table>
    <button>Save</button>
    <a href="/category/list">Back to Blog Type List</a>

</form>
</body>
</html>