<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog Type List</title>
</head>
<body>
<h1>Blog Type List</h1>
<button><a href="/category/create">Add new Blog Type</a></button>
<br>
<div th:text="${message}"></div>
<form th:action="@{/category/list}" method="get">
    <input type="text" name="searchName" placeholder="Search" />
    <button>Search</button>
</form>

<table border="1">
    <tr>
        <th>#</th>
        <th>Blog Type Name</th>
        <th>Edit</th>
    </tr>
    <tr th:each = "blogType,status:${blogTypeList}">
        <td th:text="${blogTypeList.number*2+status.count}"></td>
        <td th:text="${blogType.name}"></td>
        <td><a th:href="@{/category/edit/__${blogType.id}__}">Edit</a></td>
    </tr>
</table>
<a th:if="${blogTypeList.hasPrevious()}" th:href="@{/category/list/(page=${blogTypeList.number-1})}">Prev</a>
<span th:text="${blogTypeList.number+1}"></span>/<span th:text="${blogTypeList.totalPages}"></span>
<a th:if="${blogTypeList.hasNext()}" th:href="@{/category/list/(page=${blogTypeList.number+1})}">Next</a>
</body>
</html>